<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .profile {
            display: inline-block;
            max-width: 257px;
            border: 1px solid red;
            position: relative;
        }
        div.mask {
            height: 304px;
            width: 257px;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #fileinp {
            display: none;
        }
    </style>
</head>
<body>

    <div class="profile" id="profile">
        <div class="mask">
            <progress max="100" value="25" id="progressbar"></progress>
        </div>
        <img id="profilepic" src="http://fc01.deviantart.net/fs71/i/2014/261/4/a/earth_2_superman__bourassa_style__by_owc478-d74ivzp.png"
             alt="" height="300px"/>
        <input type="file" id="fileinp" multiple/>
    </div>
    <script>

        // listen for a click on the image
        // fire a click event dispatch on the fileinp
        // filereader to read the file data as datauri
        // set the src of the image to reader.result

        // formdata

        var profilediv = document.getElementById('profile');
        var img = document.getElementById('profilepic');
        var fileinp = document.getElementById('fileinp');
        var progressbar = document.getElementById('progressbar');

        profilediv.addEventListener('click', function () {
            // listen for a click on the profile
            // fire a click on the input type file
            fileinp.click();
        });

        fileinp.addEventListener('change', function () {
            var filereader = new FileReader();
            filereader.addEventListener('loadend', function () {
                img.src = filereader.result;

                var formdata = new FormData();
                formdata.append('uploader', 'BP');
                formdata.append(fileinp.files[0].name, fileinp.files[0]);

                var xhr = new XMLHttpRequest();

                // xhr.setRequestHeader('Content-Type', 'multipart/form-data');
                xhr.addEventListener('readystatechange', function () {
                    if( xhr.readyState === 4 && xhr.status === 200 ) {
                        var obj = JSON.parse(xhr.responseText);
                        console.log(obj);
                    }
                });
                xhr.upload.addEventListener('progress', function (e) {
                    console.log(e.loaded);
                    progressbar.setAttribute('value', Math.round(e.loaded / e.total * 100));
                });
                xhr.open('POST', '/upload');
                xhr.setRequestHeader('Accept', 'application/json');
                xhr.send(formdata);
            });
            filereader.readAsDataURL(fileinp.files[0]);
        });






    </script>

</body>
</html>